uC/Debug/
uC/Release/
uC/.settings
uC/.launches

FPGA/*.prm
FPGA/*.cfi
FPGA/*.mcs
FPGA/_xmsgs/
FPGA/ipcore_dir/_xmsgs/
FPGA/ipcore_dir/commandAndWriteFIFO/
FPGA/ipcore_dir/dataFIFO/
FPGA/ipcore_dir/tmp/
FPGA/iseconfig/top_sch.xreport
FPGA/top_sch_guide.ncd
FPGA/top_sch_summary.html
